wang/Day1_LEDblink/MDK-ARM/Objects/*.*
wang/Day1_LEDblink/MDK-ARM/Listings/*.*
wang/Day1_LEDblink/MDK-ARM/*.htm
wang/Day1_LEDblink/MDK-ARM/*.uvguix.*
wang/Day1_LEDblink/MDK-ARM/*.uvoptx
wang/Day1_LEDblink/STM32F051/*.*
wang/Day1_LEDblink/MDK-ARM/*.uvprojx

wang/Day2_USARTprintf/MDK-ARM/Objects/*.*
wang/Day2_USARTprintf/MDK-ARM/Listings/*.*
wang/Day2_USARTprintf/MDK-ARM/*.htm
wang/Day2_USARTprintf/MDK-ARM/*.uvguix.*
wang/Day2_USARTprintf/MDK-ARM/*.uvoptx
wang/Day2_USARTprintf/STM32F051/*.*
wang/Day2_USARTprintf/MDK-ARM/*.uvprojx

wang/Day3_USART_HyperTerminalInterrupt/Objects/*.*
wang/Day3_USART_HyperTerminalInterrupt/MDK-ARM/Listings/*.*
wang/Day3_USART_HyperTerminalInterrupt/MDK-ARM/*.htm
wang/Day3_USART_HyperTerminalInterrupt/MDK-ARM/*.uvguix.*
wang/Day3_USART_HyperTerminalInterrupt/MDK-ARM/*.uvoptx
wang/Day3_USART_HyperTerminalInterrupt/STM32F051/*.*
wang/Day3_USART_HyperTerminalInterrupt/MDK-ARM/*.uvprojx

wang/Day4_EXTI_Example/MDK-ARM/Objects/*.*
wang/Day4_EXTI_Example/MDK-ARM/Listings/*.*
wang/Day4_EXTI_Example/MDK-ARM/*.htm
wang/Day4_EXTI_Example/MDK-ARM/*.uvguix.*
wang/Day4_EXTI_Example/MDK-ARM/*.uvoptx
wang/Day4_EXTI_Example/STM32F051/*.*
wang/Day4_EXTI_Example/MDK-ARM/*.uvprojx

wang/Day5_PWMinput/MDK-ARM/Objects/*.*
wang/Day5_PWMinput/MDK-ARM/Listings/*.*
wang/Day5_PWMinput/MDK-ARM/*.htm
wang/Day5_PWMinput/MDK-ARM/*.uvguix.*
wang/Day5_PWMinput/MDK-ARM/*.uvoptx
wang/Day5_PWMinput/STM32F051/*.*
wang/Day5_PWMinput/MDK-ARM/*.uvprojx
