[user]
	email = wang860113@gmail.com
	name = wang
[color]
	ui = true
[alias]
	a = add
	b = branch
	bd= branch -D
	bl= branch -l
	cm= commit -m
	co= checkout
	sb= show-branch
	st= status
	DP= /c/users/user/test

